@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Konuşarak Öğren</h1>
    <p>Detaylı bilgi için <a href="https://www.konusarakogren.com/">konusarakogren.com</a></p>
</div>
